solutions/practice8/PriceQuoteClient/xml-resources/web-service-references/PriceQuoteService/wsdl/localhost_7001/demos/PriceQuoteService/PriceQuoteService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://demos/PriceQuote" elementFormDefault="qualified">
    <xs:element name="Products">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="productId" type="xs:int" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Quote">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="quotedPrice" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="QuoteError">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>